src/popup/ics.js buildICS
src/scripts/content.js getClassSchedule
src/popup/export.js displayNames
src/popup/ics.js convertDays
src/popup/ics.js convertTime
src/popup/ics.js daysToNumbers
src/popup/ics.js getFirstDay
src/popup/ics.js getFirstDayOfMultiple
src/popup/ics.js dateToICS
src/popup/ics.js ICSToDate
