src/popup/ics.js convertDays
src/popup/ics.js convertTime
src/popup/ics.js daysToNumbers
src/popup/ics.js getFirstDay
src/popup/ics.js getFirstDayOfMultiple
src/popup/ics.js dateToICS
src/popup/ics.js ICSToDate
src/popup/util.js generateTableRow
src/popup/util.js getCol
src/popup/util.js formatYear
src/scripts/dom_scraper.js getClassSchedule
src/scripts/dom_scraper.js getQuarter
src/popup/course_map_temp.js mapListTest
src/popup/course_map.js getLink